
.review-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1010px;
    margin: 150px auto;
  }
  
  .review-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 50px;
    border-radius:30px 130px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
  
    &:hover {
      transform: translateY(-5px);
    }
  }
  
  .review-text {
    color: black;
    font-size: 16px;
    line-height: 1.6;
    
  }
  
  .highlighted {
    color: #68d66f;
    font-weight: bold;
  }
  .review-text {
    font-family: 'Arial', sans-serif; 
    color: black;
    font-size: 18px;
    line-height: 1.6;
  }
  
  .highlighted {
    color: #68d66f;
    font-weight: bold;
  }
  /* src/assets/css/reviews.css */
.review-author {
    color: #68d66f; /* Green text color */
    font-size: 20px;
    text-align: right;
    margin-top: -10px;
    font-weight: bold;
  }
  